# Ingore the following folders
05_OPTI/__pycache__/*
05_OPTI/Ansout/*
05_OPTI/Optimization_Logs/*
05_OPTI/gui/*

# Keep Folders
!05_OPTI/__pycache__/.gitkeep
!05_OPTI/Ansout/.gitkeep
!05_OPTI/Optimization_Logs/.gitkeep

# Ignore the following files
Post_Util.txt
gui_main.py
CLAUDE.md
05_OPTI/apdl_log