# Ingore the following folders
05_OPTI/__pycache__/*
05_OPTI/AnsoutEigen/*
05_OPTI/AnsoutNonlin/*
05_OPTI/Optimization_Logs/*

# Keep Folders
!05_OPTI/__pycache__/.gitkeep
!05_OPTI/AnsoutEigen/.gitkeep
!05_OPTI/AnsoutNonlin/.gitkeep
!05_OPTI/Optimization_Logs/.gitkeep

# Ignore the following files
Post_Util.txt